#gallery{
    padding:80px 10%;
    background:#fff8fb;
}

#gallery h2{
    text-align:center;
    color:#d63384;
    font-size:36px;
    margin-bottom:40px;
}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery-container img{
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.4s;
    cursor:pointer;
}

.gallery-container img:hover{
    transform:scale(1.05);
}